[user]
	name = Maciej Mezyk
	email = mcj.mezyk@gmail.com
[core]
	editor = vim.exe
	excludesfile = ~/.gitignore_global
	autocrlf = true
    	safecrlf = true
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[color]
	ui = auto
